body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background: linear-gradient( #000000 0%, #4a4b4e 100%);
}
.container {
    position: relative;
    height: 100%;
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100px;
    height: auto;
}
.navbar {
    position: absolute;
    top: 20px;
    right: 20px;
}
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 20px;
    border: 2px solid rgb(31, 167, 14);
    border-radius: 2px;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
.center-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 30px;
    font-size: 30px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0,0,0,100);
}
.center-button:hover {
    background-color: #45a049;
    box-shadow: 0 10px 20px rgba();
    transform: translate(-50%, -60%);
}
.logo {width: 100px; height: auto;}